@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,301,701,300,501,401,901,400&display=swap');

@font-face {
    font-family: "Queenside";
    src: url(/fonts/QueensidesMedium-x30zV.ttf);
}

* {
    //font-family: "Queenside", sans-serif;
}

@layer utilities {
    .custom-filter {
        -webkit-backdrop-filter: saturate(180%) blur(5px) !important;
        backdrop-filter: saturate(180%) blur(5px) !important;
        background-color: #c8d9ed48 !important;
    }
}

body::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Satoshi', sans-serif;
}