@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Queenside";
    src: url(/fonts/QueensidesMedium-x30zV.ttf);
}

* {
    font-family: "Queenside", sans-serif;
}

@layer utilities {
    .custom-filter {
        -webkit-backdrop-filter: saturate(180%) blur(5px) !important;
        backdrop-filter: saturate(180%) blur(5px) !important;
        background-color: #c8d9ed48 !important;
    }
}

body::-webkit-scrollbar {
    display: none;
}
